#informations{
  width: 150px;
  height: 600px;
  position: relative;
  color: white;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}

#informations .player, #informations .turn, #informations .buttons, #informations .instruction{
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 4px;
  text-align: center;
  width: 100%;
}

#informations .player:first-of-type{
  border: 3px solid red;
}
#informations .player:nth-of-type(0n+2){
  border: 3px solid green;
}

#informations .player:first-of-type.active{
  background-color: rgba(244, 7, 7, 0.57);
}

#informations .player:nth-of-type(0n+2).active{
  background-color: rgba(7, 244, 31, 0.57);
}

#informations .power, #informations .weapon{
  padding: 3px 5px;
}

#informations .player .title{
  font-size: 2em;
}
