@import "./normalize.css";
@import "./board.css";
@import "./information.css";
@import "./weapon.css";
@import "./player.css";

body {
  background-color: rgba(200,200,200,0.1);
  background-image: url('../img/gravel.jpg');
  background-position: center;
  background-size: cover;
}

.container{
  width: 100%;
}

.background, .object, .moving{
  position: absolute;
}

.modal{
  position: absolute;
  width: 80%;
  height: 80%;
  background: rgba(255, 255, 255, 0.8);
  left: 10%;
  top: 10%;
  /*display: flex;*/
  /*align-content: space-between;*/
  /*justify-content: center;*/
  text-align: center;
  z-index: 10;
}

.modal button{
  height: 30px;
}

.modal div, .modal h1{
  padding: 1em 0 0.2em 0;
}
